trigger:
- master

pool:
  name: ABC    # your self-hosted linux pool

stages:

###########################################################
# STAGE 1: Build & Push Image to ACR
###########################################################
- stage: Build
  displayName: "Build and Push Docker Image"
  jobs:
  - job: BuildPush
    displayName: "Build & Push to ACR"
    steps:

    - task: Docker@2
      displayName: "Build and Push Image to ACR"
      inputs:
        containerRegistry: "acr-connection"      # ACR service connection
        repository: "elearnapp"
        command: "buildAndPush"
        Dockerfile: "dockerfile"
        tags: |
          latest

###########################################################
# STAGE 2: Deploy to AKS
###########################################################
- stage: Deploy
  displayName: "Deploy to AKS"
  dependsOn: Build
  jobs:
  - job: DeployToAKS
    displayName: "Apply Manifests to AKS"
    steps:

    - task: Kubernetes@1
      displayName: "Apply Deployment"
      inputs:
        connectionType: "Kubernetes Service Connection"
        kubernetesServiceEndpoint: "AKSService"
        command: "apply"
        useConfigurationFile: true
        configuration: "manifests/deployment.yaml"

    - task: Kubernetes@1
      displayName: "Apply Service"
      inputs:
        connectionType: "Kubernetes Service Connection"
        kubernetesServiceEndpoint: "AKSService"
        command: "apply"
        useConfigurationFile: true
        configuration: "manifests/services.yaml"
